[bumpversion]
commit = True
tag = True
current_version = 2.0.1
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+))?
serialize = 
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}

[bumpversion:file:build.gradle]

[bumpversion:file:README.md]

[bumpversion:file:src/main/java/com/nexmo/client/HttpWrapper.java]

[bumpversion:part:release]
optional_value = ignoreme
values = 
	prerelease
	ignoreme

