/src/test/java/com/vonage/client/BugRepro.java
*.groovy
.classpath
.gradle
.project
.settings
/build
/html
/javadoc
/test.properties
archive/
binvalid_application_key.pem
gradle.properties
vonage-sdk.jar
publishing
valid_application_key.pem
/.idea
*.iml
out/
.DS_Store
