*.groovy
.classpath
.gradle
.project
.settings
dependency-reduced-pom.xml
/build
/target
/html
/javadoc
/test.properties
archive/
bin/
gradle.properties
vonage-sdk.jar
publishing
valid_application_key.pem
/.idea
*.iml
out/
.DS_Store
pom.xml.releaseBackup
pom.xml.versionsBackup
