<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <servlet>
        <servlet-name>ncco-example</servlet-name>
        <servlet-class>com.nexmo.client.voice.servlet.examples.TestNccoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ncco-example</servlet-name>
        <url-pattern>/ncco</url-pattern>
    </servlet-mapping>
</web-app>